<h1>Home</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <%= render 'layouts/new' %>
        </div>
        <div class="col-sm-7">
            <%= render 'layouts/posts'%>
        </div>
    </div>
</div>